*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: lightgreen;
    color: black;
    height: 5rem;
    line-height: 5rem;

}

.choice{
    height: 165px;
    width: 165px;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;

}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    margin-top: 5rem;
}

.score-board{
    justify-content:center;
    display: flex;
    align-items: center;
    margin-top: 4rem;
    font-size: 2rem;
    gap: 5rem;

}

#user-score,#comp-score{
    font-size: 6rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: dodgerblue;
    color: black;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}